body {
  color: var(--darkTextcolor);
  background-color: var(--darkBgcolor);
}

.meta {
  color: var(--darkMetacolor);
}

time {
  color: var(--darkMetacolor);
}

.postmeta * {
  color: var(--darkMetacolor);
}

img {
  border: 3px dotted var(--darkBordercl);
  max-width: 100%;
}

.toc {
  border-top: 0.2rem dotted var(--darkBordercl);
  border-bottom: 0.2rem dotted var(--darkBordercl);
}

::-moz-selection {
  background: var(--darkHovercolor);
  color: #000;
  text-shadow: none;
}

::selection {
  background: var(--darkHovercolor);
  color: #000;
  text-shadow: none;
}

hr {
  border-top: 3px dotted var(--darkBordercl);
}
code {
  background-color: var(--darkCodebgcolor);
  color: var(--darkTextcolor);
  text-decoration: bold;
  padding: 0.1em 0.2em;
}
pre {
  background-color: var(--darkCodebgcolor);
  color: var(--darkTextcolor);
  line-height: 1.4;
  overflow-x: auto;
  padding: 1em;
}
blockquote {
  border-color: var(--darkBordercl);
  color: var(--darkQuotecolor);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--darkTextcolor);
}
h1::before {
  color: var(--darkMaincolor);
  content: "# ";
}
h2::before {
  color: var(--darkMaincolor);
  content: "## ";
}
h3::before {
  color: var(--darkMaincolor);
  content: "### ";
}
h4::before {
  color: var(--darkMaincolor);
  content: "#### ";
}
h5::before {
  color: var(--darkMaincolor);
  content: "##### ";
}
h6::before {
  color: var(--darkMaincolor);
  content: "###### ";
}

footer {
  border-top: 0.2rem dashed var(--darkBordercl);
}

a {
  border-bottom: 3px solid var(--darkMaincolor);
  color: inherit;
}
a:hover {
  background-color: var(--darkHovercolor);
  color: black;
}

.readmore {
  color: var(--darkHovercolor);
  border-bottom: none;
}

.site-description a {
  color: #ddd;
}
.site-description a:hover {
  color: black;
}

.tag-cloud a {
  border-bottom: 3px solid var(--darkMaincolor);
  color: var(--darkTextcolor);
}
.tag-cloud a:hover {
  background-color: var(--darkHovercolor);
  color: black;
}

.site-title a {
  color: var(--darkTextcolor);
  text-decoration: none !important;
}

.header nav,
.footer {
  border-color: #333;
}

.highlight {
  background-color: #333;
}
.soc:hover {
  color: black;
}
.draft-label {
  color: var(--darkMaincolor);
  background-color: blue;
}
.highlight pre code[class=language-javaScript]::before,
.highlight pre code[class="language-js"]::before {
  content: "js";
  background: #f7df1e;
  color: black;
}
.highlight pre code[class*='language-yml']::before,
.highlight pre code[class*='language-yaml']::before {
  content: 'yaml';
  background: #f71e6a;
  color: white;
}
.highlight pre code[class*='language-shell']::before,
.highlight pre code[class*='language-bash']::before,
.highlight pre code[class*='language-sh']::before {
  content: 'shell';
  background: green;
  color:white
}
.highlight pre code[class*='language-json']::before{
  content: 'json';
  background: dodgerblue;
   color: #000000 
}
.highlight pre code[class*='language-python']::before,
.highlight pre code[class*='language-py']::before {
  content: 'py';
  background: blue;
  color: yellow ;
}
.highlight pre code[class*='language-css']::before{
  content: 'css';
  background: cyan;
  color: black ;
}
.highlight pre code[class*='language-go']::before{
  content: 'Go';
  background: cyan;
  color: royalblue ;
}
.highlight pre code[class*='language-md']::before,
.highlight pre code[class*='language-md']::before{
  content: 'Markdown';
  background: royalblue;
  color: whitesmoke ;
}

/* add toc  */
.toc a {
  border-bottom: none;
  color: inherit;
  text-decoration: none;
}

.toc a:hover{
  background-color: var(--darkHovercolor);
  color: #000;
}

.toc ul > li::before {
  content: '# ';
  color: var(--darkMaincolor);
}

.toc ul > li > ul > li::before {
  content: '- ';
  color: var(--darkMaincolor);
  font-size: .7rem;
}